@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<h1>Ajax Müşteri Hizmetleri</h1>
<br />
<button class="btn btn-primary" id="btn1">Müşteri Listesi</button>
<button class="btn btn-info" id="btn2">Müşteri Ekle</button>
<button class="btn btn-danger" id="btn3">Müşteri Sil</button>
<button class="btn btn-success" id="btn4">Müşteri Güncelle</button>
<button class="btn btn-warning" id="btn5">Müşteri Getir</button>

<hr />

<div class="alert alert-primary">Müşteri Listesi</div>
<div id="customerList">
</div>
<hr />

<div id="getCustomer">
</div>

<div>
    <label>Müşteri Adı</label>
    <input type="text" id="txtcustomername" class="form-control" />
    <br />
    <label>Müşteri Soyadı</label>
    <input type="text" id="txtcustomersurname" class="form-control" />
    <br />
</div>
<hr />

<div>
    <input type="text" class="form-control" id="txtdeleteid" placeholder="Silinecek Id Giriniz" />
</div>
<hr />

<div>
    <input type="text" id="txteditid" class="form-control" placeholder="Güncellenecek Müşteri Id" />
    <br />
    <input type="text" id="txteditname" class="form-control" placeholder="Güncellenecek Müşteri Adı" />
    <br />
    <input type="text" id="txteditsurname" class="form-control" placeholder="Güncellenecek Müşteri Soyadı" />
</div>
<hr />

<div>
    <input type="text" id="txtgetid" class="form-control" placeholder="Getirilecek Müşteri Id" />
</div>

<script>

    $("#btn1").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Customer/CustomerList/",
            success: function (funk1) {
                let customers = jQuery.parseJSON(funk1);
                console.log(customers);

                let tablehtml = "<table class=table table-bordered>"
                    + "<tr>"
                    + "<th>Musteri Id</th>"
                    + "<th>Musteri Adı</th>"
                    + "<th>Musteri Soyadı</th>"
                    + "</tr>"

                $.each(customers, (index, value) => {
                    tablehtml += `<tr>`
                        + `<td>${value.CustomerId}</td>`
                        + `<td>${value.CustomerName}</td>`
                        + `<td>${value.CustomerSurname}</td>`
                        + `</tr>`
                });
                tablehtml += "</table>"
                $("#customerList").html(tablehtml);
            }
        });
    });

    $("#btn2").click(function () {
        let values = {
            CustomerName: $("#txtcustomername").val(),
            CustomerSurname: $("#txtcustomersurname").val()
        };

        $.ajax({
            url: "/Customer/CreateCustomer/",
            data: values,
            success: function (funk2) {
                let customer = jQuery.parseJSON(funk2);
                swal({
                    title: "Başarılı",
                    text: "'" + customer.CustomerName + " " + customer.CustomerSurname + "'" + " başarılı bir şekilde kaydedilmiştir.",
                    icon: "success",
                    html: true
                });
            }
        });
    });

    $("#btn3").click(function () {
        let id = $("#txtdeleteid").val();
        $.ajax({
            url: "/Customer/DeleteCustomer/" + id,
            success: function (funk3) {
                swal("Silme işlemi başarılı!", "Müşteri silindi!", "success");
            }
        });
    });

    $("#btn4").click(function () {
        let value = {
            CustomerId: $("#txteditid").val(),
            CustomerName: $("#txteditname").val(),
            CustomerSurname: $("#txteditsurname").val()
        };

        $.ajax({
            url: "/Customer/UpdateCustomer/",
            data: value,
            success: function (funk4) {
                swal("Güncelleme işlemi başarılı!", "Müşteri güncellendi!", "success");
            }
        });
    });

    $("#btn5").click(function () {
        let id = $("#txtgetid").val();
        $.ajax({
            contentType: "application/json", 
            dataType: "json",
            url: "/Customer/GetCustomer/" + id,
            success: function (funk5) {
                let customer = jQuery.parseJSON(funk5);
                console.log(customer);

                let tablehtml2 = "<table class=table table-bordered>"
                    + "<tr>"
                    + "<th>Müşteri Id</th>"
                    + "<th>Müşteri Adı</th>"
                    + "<th>Müşteri Soyadı</th>"
                    + "</tr>"

                tablehtml2 += `<tr>`
                    + `<td>${customer.CustomerId}</td>`
                    + `<td>${customer.CustomerName}</td>`
                    + `<td>${customer.CustomerSurname}</td>`
                    + `</tr>`

                tablehtml2 += "</table>"
                $("#getCustomer").html(tablehtml2);
            }
        });
    });

</script>

